* {
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(223, 223, 223); */
}
/* Main View styling */
.funkoimage{
  width: 200px;
}
.container{
 width: 250px;
 display: flex;

}
/* Single Page View styling */
.possHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: gainsboro; */
}
.singlePageFunkoHead{
  font-size: 25px;
}

.singlePageMain{
 padding-bottom: 25px;
 /* background-color: blanchedalmond; */
}
.spMainEverything{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.singlePageinfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.singlePageImgDiv{
  width: 400px;
}
.singlePageNamePrice{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  width: 100%;
}

.singlePageDescription{
  width: 600px;
  padding: 10px;
  border-top: 2px solid #222222
}
.loremPara{
  line-height: 2.3;
  text-wrap: wrap;
  text-align: center;
}
.funkoUpdateForm{
  padding: 25px;
  width: fit-content;
}

.img-resize {
  width: 250px;
}

.font-copy {
  font-size: large;
}


/* columns cards */
.some-page-wrapper {
  margin: 0 auto;
  padding: 3rem;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 25px;
  column-gap: 25px;

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
/* wrap 3 columns for cards */