* {
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(223, 223, 223); */
}

img {
  width: 200px
}

.container {
  padding: 3rem;
  margin: 0 auto;
}

.box {
  padding: 3rem;
}

.input-items {
  display: flex;
  justify-content: space-evenly;
}

.input-container {
  padding: 3rem;
  margin: 0 auto;
  width: 75%;
  background-color: rgba(188, 126, 45, 0.5);
}

.mt-3 {
  margin-top: 15px;
}

.mt-1 {
  margin-top: 5px;
}

.list-container {
  padding: 3rem;
  background-color: orangered;
  margin: 0 auto;
}

.funko-item {
  padding: 3rem;
  background-color: burlywood;
  margin: 0 auto;
}

.funko-content {
  padding: 3rem;
  background-color: yellowgreen;
  display: flex;
}

.funko-options {
  background-color: burlywood;
  padding: 1rem;
}

.delete-btn {
  transition-duration: 0.4s;
  background-color: yellow;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}